<?xml version="1.0"?>
<launch>
    <incldue name="$(find taz_description)/launch/taz_urdf.launch"/>
    <node name="urg_node" type="urg_node" pkg="urg_node"/>
    
    <node pkg="p2os_driver" type="p2os_driver" name="p2os_driver" output="screen">
        <param name="port" value="/dev/ttyUSB0"/>
    </node>

    <node name="rostopic" pkg="rostopic" type="rostopic"
          args="pub -1 -l /cmd_motor_state p2os_msgs/MotorState 1"/>
</launch>

